.flex-grid {
    --gap: 1em;
    --basis: auto;
    --wrap: wrap;
    --grow: 1;
    --collapse: 0;
    --align: flex-start;
    --justify: flex-start;
    display: flex;
    flex-wrap: var(--wrap);
    align-content: var(--align);
    justify-content: var(--justify);
    gap: var(--gap);
}

.flex-grid>* {
    flex-grow: var(--grow);
    flex-shrink: 1;
    flex-basis: calc(var(--basis) - var(--gap));
    min-width: clamp( var(--min-width, 0px), (var(--collapse) - 100%) * 999, 100% - var(--gap));
}


/* utilities */

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}