:root {
    --site-width-l: 1200px;
    --site-width: 1024px;
    --site-width-m: 767px;
    --site-width-s: 480px;
    --site-width-xs: 360px;
}

.wrap {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--site-width);
}

.wrap-gutter {
    padding-left: var(--gap-300);
    padding-right: var(--gap-300);
}