:root {
    /* general colors */
    --text-primary: var(--shade-900);
    --text-secondary: var(--shade-700);
    --text-tertiary: var(--shade-700);
    --page-canvas: var(--shade-100);
    --page-canvas-shade: var(--shade-200);
    --component-canvas: var(--shade-100);
    --component-shade: var(--shade-300);
    --border-color: var(--shade-300);
    --border-color-strong: var(--shade-700);
    /* brand colors */
    --brand-primary: red;
    --brand-secondry: blue;
    --brand-highlight: lightblue;
    /* brand fonts */
    --brand-font: 'Sky Text';
}

@media (prefers-color-scheme: dark) {
     :root {
        color-scheme: dark;
        --text-primary: var(--shade-100);
        --text-secondary: var(--shade-200);
        --text-tertiary: var(--shade-300);
        --page-canvas: var(--shade-900);
        --page-canvas-shade: var(--shade-800);
        --component-canvas: var(--shade-900);
        --component-shade: var(--shade-700);
        --border-color: var(--shade-500);
        --border-color-strong: var(--shade-200);
    }
}