.article-head[class] {
    text-align: center;
}

.article-head-title {
    color: var(--brand-primary)
}

.article-head-headline span {
    display: block;
}

.article-head-snippet {
    max-width: 600px;
    margin: 0 auto;
    font-weight: 500;
    color: var(--text-color-secondary)
}

.article-byline {
    --grow: auto;
    --gap: 10px;
    margin: 0 auto;
    color: var(--text-color-tertiary);
    font-size: var(--supporting-text);
    padding: 2% 0 0.75%;
    align-items: center;
}

.article-byline-icon {
    display: inline-block;
    width: 26px;
    height: 26px;
    background: var(--component-shade);
    border-radius: 50%;
    padding: 4px;
}