.article-body>.media:first-of-type {
    flex-shrink: 0;
    flex-basis: min(var(--site-width) - (var(--site-gutter) * 2), 100vw);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.article-body>.media:first-of-type .wrap {
    padding: 0 var(--site-gutter);
}

.article-body a {
    text-decoration-line: underline;
}

.article-body a:hover {
    text-decoration-line: none;
}

.article-body>p:first-of-type {
    font-weight: bold;
    font-size: 1.08em;
}

.article-body>h2 {
    font-size: var(--display-500);
    padding-top: 0.5em;
    text-align: center;
}

.article-body>h3 {
    font-size: var(--display-300);
    padding-top: 0.5em;
    text-align: center;
    color: var(--text-color-secondary);
}

.article-body>h2+h3 {
    padding-top: 0;
    margin-top: -0.4em;
}