.gallery {
    width: 100%;
    height: 100vh;
    z-index: 99;
    display: none;
}

.gallery:fullscreen {
    display: block;
}

.gallery:-webkit-full-screen {
    display: block;
}

.gallery:-moz-full-screen {
    display: block;
}

.gallery-rail {
    scroll-snap-type: x mandatory;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    height: 100%;
    scroll-behavior: smooth;
}

.gallery-item {
    width: 100vw;
    height: 100%;
    flex: none;
    position: relative;
    background: var(--brand-secondary);
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.gallery-item>img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: var(--brand1)
}

.gallery-caption {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -2em);
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;
    width: 85%;
    max-width: 500px;
}

.gallery-caption span {
    padding: 3px 5px;
    background: var(--brand1);
    color: white;
}

.gallery-launch[class] {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    transform: translate(-75%, -75%)
}

.gallery-close {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    transform: translate(-75%, 75%)
}