.media {
    padding: 2% 0;
}

.media-caption {
    font-size: var(--supporting-text);
    color: var(--text-color-secondary);
    padding: 1em 0 0;
}

.media-caption>.wrap {
    --wrap-width: var(--site-width-m);
    justify-content: center;
}