.nav-body {
    background: var(--brand-secondary);
    color: var(--text-color-invert);
    padding: var(--gap-m);
    position: relative;
    border: var(--border-color-dark-mode);
    overflow: hidden;
}

/* .js .nav-body {
    display: none;
} */

.nav-button {
    contain: content;
    flex-basis: auto;
    --size: clamp(62px, 15vw, 84px);
    position: relative;
    align-self: flex-start;
    width: var(--size);
    height: var(--size);
    background: url('../../img/logos/u.svg') var(--brand-secondary) no-repeat center;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    border: var(--border-color-dark-mode);
}

/* .nav-body[aria-hidden="false"] {
    display: block;
} */

.nav-button>svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
}

.nav-links {
    font-size: var(--display-200);
    list-style: none;
    padding: var(--component-padding);
    row-gap: 0;
    font-weight: 600;
}

.nav-links a {
    color: var(--text-color-light);
    display: block;
    padding: 0.3em 0.1em;
}

.nav-close {
    background: url('../../img/close.svg') no-repeat center;
    cursor: pointer;
    border: 0;
    width: 24px;
    height: 24px;
    position: absolute;
    top: var(--component-padding);
    right: var(--component-padding);
}