.progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    z-index: var(--layer-overlay);
    contain: strict;
    background-color: var(--component-shade);
    accent-color: var(--brand-primary);
}

.progress::-moz-progress-bar {
    background: var(--component-shade);
}

.progress::-moz-progress-value {
    background: var(--brand-primary);
}

.progress::-webkit-progress-bar {
    background: var(--component-shade);
}

.progress::-webkit-progress-value {
    background: var(--brand-primary);
}