.tile {
    --direction: column;
    --font-size: var(--display-400);
    --image-width: 100%;
    --padding: var(--component-padding);
    background: var(--component-canvas);
    box-shadow: var(--shadow-glow);
    position: relative;
    line-height: 1;
    container: inline-size;
}

.tile img {
    width: var(--image-width);
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: 50% 0;
    background: var(--brand-secondary);
}

.tile figcaption {
    flex: 1;
}

.tile-link:after {
    content: "";
    position: absolute;
    inset: 0;
}

.tile-link {
    display: block;
    color: var(--text-color);
    padding: 1.5rem;
    font-size: var(--font-size);
    font-size: 11qi;
}

.tile-link>strong {
    display: block;
    padding-bottom: 0.35em;
    color: var(--brand-primary);
    font-size: 16px;
}

.tile a:hover strong {
    color: var(--shade-200);
    text-decoration-line: underline;
    text-decoration-color: currentColor;
}

.tile-link:hover,
.tile:hover {
    background: var(--shade-900);
    color: white;
}