:root {
    /* general colors */
    --text-color: var(--shade-800);
    --text-color-light: var(--shade-100);
    --text-color-secondary: var(--shade-500);
    --text-color-tertiary: var(--shade-300);
    --page-canvas: var(--shade-100);
    --page-canvas-shade: var(--shade-200);
    --component-canvas: var(--shade-100);
    --component-shade: var(--shade-300);
    --component-shade-dark: var(--shade-900);
    --border-color: var(--shade-300);
    --border-color-strong: var(--shade-700);
    --border-color-dark-mode: 1px solid hsla(0, 100%, 100%, 0);
    /* brand colors */
    --brand-primary: #d80000;
    --brand-secondary: black;
    --brand-highlight: lightblue;
    /* brand fonts */
    --brand-font: 'Sky Text';
}

@media (prefers-color-scheme: dark) {
     :root {
        color-scheme: dark;
        --text-color: var(--shade-200);
        --text-color-secondary: var(--shade-400);
        --text-color-tertiary: var(--shade-500);
        --page-canvas: var(--shade-900);
        --page-canvas-shade: var(--shade-800);
        --component-canvas: var(--shade-900);
        --component-shade: var(--shade-700);
        --component-shade-dark: var(--shade-800);
        --border-color: var(--shade-500);
        --border-color-strong: var(--shade-200);
        --border-color-dark-mode: 1px solid hsla(0, 100%, 100%, 0.75);
    }
}